<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReKos"
        tools:targetApi="31">

<!--        <service android:name=".aatoken.NotifInstanceService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

        <!-- Menambahkan metadata untuk Google Sign-In -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.auth.api.signin.CLIENT_ID"-->
<!--            android:value="@string/default_web_client_id" />-->
        <service
            android:name=".aatoken.NotifInstanceService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <!-- Aktivitas lainnya -->
        <activity
            android:name=".SemuaKosActivity"
            android:exported="false" />

       <!-- <activity -->
        <!-- android:name=".Detail.DeailKosActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Detail.DeailKosActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Detail.ButtonSewaActivity"
            android:exported="false" />
        <activity
            android:name=".Notifikasi.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.KosSaya2Activity"
            android:exported="false" />
        <activity
            android:name=".Detail.AjukanSewaActivity"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.KosSaya3Activity"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.kostsaya4"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.kostsaya5"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.kostsaya6"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.kostsaya7"
            android:exported="false" />
        <activity
            android:name=".Kos_Saya.kostsaya8"
            android:exported="false" />
        <activity
            android:name=".Menu.profil2"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Detail.DeailKosActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Detail.DeailKosActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Register_Login.RegisterasiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <!-- android:name=".Splash_Screen.Splash_Screen" -->
        <activity
            android:name=".Splash_Screen.Splash_Screen"
            android:exported="false" />
        <activity
            android:name=".Register_Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
